Repository peerbridge/peerbridge-android, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, unit-test, instrumentation-test, app, secp256k1

add GitHub Actions CI
  .github/workflows/test.yml
Labels: none

add GitHub Actions CI
  .github/workflows/android.yml
Labels: none

fix computing shared secret
  secp256k1/src/main/cpp/native-lib.cpp
Labels: source

add instrumentation tests for secp256k1 library
  secp256k1/src/androidTest/java/com/peerbridge/secp256k1/Libsecp256k1Test.kt
Labels: instrumentation-test

remove example instrumentation test
  secp256k1/src/androidTest/java/com/peerbridge/secp256k1/ExampleInstrumentedTest.kt
Labels: instrumentation-test

Use PublicKeyProvider for Avatar Preview
  app/src/main/kotlin/com/peerbridge/android/ui/component/Avatar.kt
Labels: source

Unit test message serialization
  app/src/test/kotlin/com/peerbridge/android/model/MessageTest.kt
Labels: unit-test

make private members of HttpClient lazy
  app/src/main/kotlin/com/peerbridge/android/http/HttpClient.kt
Labels: source

refactor encryption
  app/src/main/kotlin/com/peerbridge/android/crypto/Encryption.kt
Labels: source

Integration Test Encryption
  app/src/androidTest/kotlin/com/peerbridge/android/crypto/EncryptionTest.kt
Labels: instrumentation-test

update dependencies
  app/build.gradle.kts
Labels: none

add share icon
  app/src/main/res/drawable/ic_share.xml
Labels: source

add custom Icon component
  app/src/main/kotlin/com/peerbridge/android/ui/component/Icon.kt
Labels: source

add restore method for key pair
  app/src/main/kotlin/com/peerbridge/android/crypto/KeyPair.kt
Labels: source

add key pair context
  app/src/main/kotlin/com/peerbridge/android/ui/context/Provider.kt
Labels: source

add string resources
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Labels: source

add key pair to mock data
  app/src/main/kotlin/com/peerbridge/android/data/MockData.kt
Labels: source

add pair view
  app/src/main/kotlin/com/peerbridge/android/MainActivity.kt
  app/src/main/kotlin/com/peerbridge/android/ui/view/Home.kt
  app/src/main/kotlin/com/peerbridge/android/ui/view/Pair.kt
Labels: source

add room dependency
  app/build.gradle.kts
Labels: none

delete unused Conversation model
  app/src/main/kotlin/com/peerbridge/android/model/Conversation.kt
Labels: source

make mocked keys const
  app/src/main/kotlin/com/peerbridge/android/data/MockData.kt
Labels: source

make encodeAsQRCode function private
  app/src/main/kotlin/com/peerbridge/android/ui/view/Pair.kt
Labels: source

make Transaction model a room entity
  app/src/main/kotlin/com/peerbridge/android/model/Transaction.kt
Labels: source

define App Database using Room
  app/src/main/kotlin/com/peerbridge/android/model/Database.kt
Labels: source

create Provider stack for application wide data
  app/src/main/kotlin/com/peerbridge/android/MainActivity.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/Database.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/KeyPair.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/Provider.kt
Labels: source

remove unused dependencies
  secp256k1/build.gradle.kts
Labels: none

remove unused imports
  secp256k1/src/main/java/com/peerbridge/secp256k1/Libsecp256k1.kt
Labels: source

update string resources
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Labels: source

add UnknownMessage
  app/src/main/kotlin/com/peerbridge/android/model/Message.kt
Labels: source

update dependencies
  app/build.gradle.kts
  build.gradle.kts
Labels: repo

add Chat coordinator view
  app/src/main/kotlin/com/peerbridge/android/ui/view/Chat.kt
Labels: source

add Home coordinator view
  app/src/main/kotlin/com/peerbridge/android/ui/view/Home.kt
Labels: source

simplify Profile
  app/src/main/kotlin/com/peerbridge/android/ui/view/Profile.kt
Labels: source

update Transaction Model
  app/src/main/kotlin/com/peerbridge/android/model/Transaction.kt
Labels: source

update Application Routes
  app/src/main/kotlin/com/peerbridge/android/MainActivity.kt
Labels: source

refactor firebase notification token
  app/src/main/kotlin/com/peerbridge/android/messaging/PeerBridgeFirebaseMessagingService.kt
  app/src/main/res/values/strings.xml
Labels: source

refactor chat view
  app/src/main/kotlin/com/peerbridge/android/ui/view/Chat.kt
Labels: source

refactor home view
  app/src/main/kotlin/com/peerbridge/android/ui/view/Home.kt
Labels: source

add database singleton
  app/src/main/kotlin/com/peerbridge/android/model/Database.kt
Labels: source

add update operation on transaction repository
  app/src/main/kotlin/com/peerbridge/android/model/Transaction.kt
Labels: source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'source' label to any change to src files within the source dir
source:
  - app/src/main/**/*
  - secp256k1/src/main/**/*

# Add 'unit-test' label to any change to files within the `test` dir
unit-test:
  - app/src/test/**/*
  - secp256k1/src/test/**/*

# Add 'instrumentation-test' label to any change to files within the `androidTest` dir
instrumentation-test:
  - app/src/androidTest/**/*
  - secp256k1/src/androidTest/**/*

# Add 'app' label to any change to files within the `PeerBridge App`
app:
  - app

# Add 'secp256k1' label to any change to files within the `secp256k1` library
secp256k1:
  - secp256k1
