Repository peerbridge/peerbridge-android, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, unit-test, instrumentation-test, app, secp256k1

add preview provider for composition locals
  app/src/main/kotlin/com/peerbridge/android/ui/context/Database.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/KeyPair.kt
Labels: source

refactor provider stack
  app/src/main/kotlin/com/peerbridge/android/MainActivity.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/Provider.kt
Labels: source

add icon assets
  app/src/main/res/drawable/ic_arrow_right.xml
  app/src/main/res/drawable/ic_chevron_down.xml
  app/src/main/res/drawable/ic_chevron_right.xml
Labels: source

update string resources
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values/strings.xml
Labels: source

add unit tests
  app/src/androidTest/kotlin/com/peerbridge/android/crypto/EncryptionTest.kt
  app/src/androidTest/kotlin/com/peerbridge/android/model/MessageTest.kt
  app/src/test/kotlin/com/peerbridge/android/crypto/HashTest.kt
  app/src/test/kotlin/com/peerbridge/android/date/DateFormatterTest.kt
Labels: unit-test, instrumentation-test

refactor code
  app/src/main/kotlin/com/peerbridge/android/crypto/Encryption.kt
  app/src/main/kotlin/com/peerbridge/android/messaging/PeerBridgeFirebaseMessagingService.kt
  app/src/main/kotlin/com/peerbridge/android/model/Transaction.kt
  app/src/main/kotlin/com/peerbridge/android/ui/context/KeyPair.kt
  app/src/main/kotlin/com/peerbridge/android/ui/view/Chat.kt
  app/src/main/kotlin/com/peerbridge/android/ui/view/Home.kt
  app/src/main/kotlin/com/peerbridge/android/ui/view/Pair.kt
Labels: source

add testOptions build config
  app/build.gradle.kts
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'source' label to any change to src files within the source dir
source:
  - app/src/main/**/*
  - secp256k1/src/main/**/*

# Add 'unit-test' label to any change to files within the `test` dir
unit-test:
  - app/src/test/**/*
  - secp256k1/src/test/**/*

# Add 'instrumentation-test' label to any change to files within the `androidTest` dir
instrumentation-test:
  - app/src/androidTest/**/*
  - secp256k1/src/androidTest/**/*

# Add 'app' label to any change to files within the `PeerBridge App`
app:
  - app

# Add 'secp256k1' label to any change to files within the `secp256k1` library
secp256k1:
  - secp256k1
